body.light {
    background-image:url("../public/white.jpeg") ;
  color: #000;
}

body.dark {
  background-image:url("../public/dark.jpeg") ;

  color: #fff;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  
}

li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  margin:20px
}

li.completed span {
  
  text-decoration: line-through;
  opacity: 0.6;
}

button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media (max-width: 600px) {
  .app {
    width: 90%;
  }
}
